@import url(https://fonts.googleapis.com/css?family=Poiret+One);

.social {
  margin-left: 400px;
  width: auto;
  text-align: inherit;
  /* padding: 10px; */
}

.icon-btn {

  width: 50px;
  height: 50px;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 30px;
  line-height: 70px;
  border-radius: 45px;
  display: inline-block;
  margin: 4px;
}

.github {

  color: black;
}

.linkedin {

  color: #0077b5;
}


.icon-btn:hover {
  transform: scale(1.10);
  color: #9a0000;
}

.linkedin:hover {
  background-color: #b50000;

}

.angellist:hover {
  background-color: grey;
}

.github:hover {
  background-color: black;
}

/* Buttons - Read Me, Contact Us */

.readme {
  position: relative;
  padding: 11px 35px;
  background: #fff;
  color: #ff0000;
  border: 2px solid #fff;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;

}




/* main body */

/* body-color */

body {
  color: rgb(255, 102, 102);
  font-size: 28px;
}



a {
  color: #ff0000;
}


.picture {
  width: 300px;
  padding-left: 2%;
  padding-top: 2%;
}


.text-center {
  text-align: center;
}

.col-md-9 {
  margin-top: -300px;
  margin-left: 400px;
}

main {

  padding-left: 0px;
}

.container {
  width: 100%;
}

h3 {
  font-weight: 200;
  margin-bottom: 60px;
  margin-top: 0;
  padding: 30px 40px;
  text-transform: uppercase;
}

.section {
  padding-bottom: 0px;
  padding-top: 0;
  position: relative;
}

.full-height {
  height: 900px;
}

#intro.section {
  background: #000000;
  position: relative;
}

#intro.section .container {
  color: white;
  font-weight: 200;
  left: 0;
  position: absolute;
  top: 0;
}


#intro.section .container *:not(span) {
  font-weight: 300;
  /* font-weight: 400; */
  line-height: 150%;
  /* padding: 0 0px; */
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#intro.section .underline {
  border-bottom: 5px solid #24305e;
}

#intro.section .teal {
  padding: 0 10px;
}

.overlay {
  background-color: rgba(252, 0, 0, 0.458);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}



a.hoverline {
  border-bottom: 3px solid transparent !important;
  padding: 3px 3px 0 3px;
  transition: 0.25s all;
  -moz-transition: 0.25s all;
  -webkit-transition: 0.25s all;
}





/* main .teal-text */

.teal-text {
  color: #9c0000 !important;
}


.teal {
  background-color: #aa0d0d !important;
}




@media (max-width: 992px) {



  .container {
    margin: 0 auto;
  }

  nav.hide-on-large.only.trigger {
    display: block;
    position: fixed;
    top: 0;
    z-index: 2;
  }

  .name-title {
    display: block;
    height: 100%;

    text-align: center;
    width: 100%;
    position: absolute;
  }

  .name-title>span,
  .name-title>a {
    position: relative;
    line-height: 20px;
  }

  .name-title a {
    font-size: 22px;
    display: block;
  }

  .name-title span {
    display: block;
    font-size: 14px;
  }

  .card .role {
    position: relative;
    right: initial;
    top: initial;
  }
}

#about {
  padding: 10px 10px;
  background-color: #000000;
  color: #ffffff;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about h2 {
  color: #ff0000;
  text-align: center;
  margin-bottom: 10px;
}

#about p {
  font-size: 26px;
  line-height: 1.6;
}

#about a {
  color: #ff0000;
}